# Import Dependencies

In [1]:
# import dependencies
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
%matplotlib inline

# Load Data

In [2]:
# I will name the dataset data when it is loaded in
df = pd.read_csv("fake_data.csv")
df.head()

,Home_Team,Away_Team,Home_Score,Away_Score,Rebounds,Assists,Blocks,Total_Score,Line,Over_Under,Bet,Met_Not_Met
0,Atlanta Hawks,Washington Wizards,110,110,43,23,6,220,232,1,1,1
1,Boston Celtics,Utah Jazz,105,115,51,25,3,220,216,0,0,1
2,Brooklyn Nets,Toronto Raptors,113,104,55,26,4,217,208,1,0,0
3,Charlotte Hornets,San Antonio Spurs,100,95,42,30,2,195,193,1,1,1
4,Chicago Bulls,Sacramento Kings,103,109,43,25,5,212,193,0,1,0

# Prepocess and Encode Data

In [3]:
# encode the columns (run this column only if needed)
dummies = pd.get_dummies(df, columns=['Home_Team','Away_Team'])
dummies.head()

,Home_Score,Away_Score,Rebounds,Assists,Blocks,Total_Score,Line,Over_Under,Bet,Met_Not_Met,...,Away_Team_Oklahoma City Thunder,Away_Team_Orlando Magic,Away_Team_Philadelphia 76ers,Away_Team_Phoenix Suns,Away_Team_Portland Trail Blazers,Away_Team_Sacramento Kings,Away_Team_San Antonio Spurs,Away_Team_Toronto Raptors,Away_Team_Utah Jazz,Away_Team_Washington Wizards
0,110,110,43,23,6,220,232,1,1,1,...,False,False,False,False,False,False,False,False,False,True
1,105,115,51,25,3,220,216,0,0,1,...,False,False,False,False,False,False,False,False,True,False
2,113,104,55,26,4,217,208,1,0,0,...,False,False,False,False,False,False,False,True,False,False
3,100,95,42,30,2,195,193,1,1,1,...,False,False,False,False,False,False,True,False,False,False
4,103,109,43,25,5,212,193,0,1,0,...,False,False,False,False,False,True,False,False,False,False

In [7]:
X = dummies.copy()
X.drop("Met_Not_Met",axis=1,inplace=True)
X.head()

,Home_Score,Away_Score,Rebounds,Assists,Blocks,Total_Score,Line,Over_Under,Bet,Home_Team_Atlanta Hawks,...,Away_Team_Oklahoma City Thunder,Away_Team_Orlando Magic,Away_Team_Philadelphia 76ers,Away_Team_Phoenix Suns,Away_Team_Portland Trail Blazers,Away_Team_Sacramento Kings,Away_Team_San Antonio Spurs,Away_Team_Toronto Raptors,Away_Team_Utah Jazz,Away_Team_Washington Wizards
0,110,110,43,23,6,220,232,1,1,True,...,False,False,False,False,False,False,False,False,False,True
1,105,115,51,25,3,220,216,0,0,False,...,False,False,False,False,False,False,False,False,True,False
2,113,104,55,26,4,217,208,1,0,False,...,False,False,False,False,False,False,False,True,False,False
3,100,95,42,30,2,195,193,1,1,False,...,False,False,False,False,False,False,True,False,False,False
4,103,109,43,25,5,212,193,0,1,False,...,False,False,False,False,False,True,False,False,False,False

In [8]:
y = dummies['Met_Not_Met'].values.reshape(-1,1)

# Split, Train, Scale Data

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [12]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [13]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Fit the Random Forest Model

In [14]:
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [15]:
# Fit the model and use .ravel()on the "y_train" data. 
rf_model = rf_model.fit(X_train_scaled, y_train.ravel())

# Make Predictions Using the Random Forest Model

In [16]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

# Model Evaluation

In [17]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [18]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0            6            3
Actual 1            3            3

Accuracy Score : 0.6
Classification Report
              precision    recall  f1-score   support

           0       0.67      0.67      0.67         9
           1       0.50      0.50      0.50         6

    accuracy                           0.60        15
   macro avg       0.58      0.58      0.58        15
weighted avg       0.60      0.60      0.60        15

# Feature Importance

In [19]:
# get important features
importances = rf_model.feature_importances_

#sort by importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.10418294552416196, 'Total_Score'),
 (0.10089124240755644, 'Home_Score'),
 (0.09010945328926727, 'Line'),
 (0.08017413287690199, 'Away_Score'),
 (0.07738975586220441, 'Rebounds'),
 (0.07100502094148069, 'Assists'),
 (0.04964840461498833, 'Blocks'),
 (0.028556247785745795, 'Over_Under'),
 (0.024668877988688477, 'Bet'),
 (0.011958335450076202, 'Home_Team_Detroit Pistons'),
 (0.011474821165552776, 'Home_Team_San Antonio Spurs'),
 (0.011396736123448187, 'Away_Team_Charlotte Hornets'),
 (0.01126810317340309, 'Away_Team_Washington Wizards'),
 (0.01058298582375828, 'Away_Team_Milwaukee Bucks'),
 (0.010192472230336045, 'Home_Team_Orlando Magic'),
 (0.010047645269899114, 'Away_Team_Denver Nuggets'),
 (0.010009340098647465, 'Home_Team_Chicago Bulls'),
 (0.009485490567515738, 'Away_Team_Orlando Magic'),
 (0.00945452005004766, 'Away_Team_Detroit Pistons'),
 (0.00931846905267851, 'Away_Team_Sacramento Kings'),
 (0.008822156278234076, 'Home_Team_Atlanta Hawks'),
 (0.008758640269290777, 'Home_Team_Washington Wizards'),
 (0.008702216382112084, 'Away_Team_Chicago Bulls'),
 (0.008451888334157111, 'Home_Team_Oklahoma City Thunder'),
 (0.008316271505906466, 'Home_Team_Los Angeles Lakers'),
 (0.007932768745947982, 'Home_Team_Philadelphia 76ers'),
 (0.007779906090884826, 'Away_Team_Golden State Warriors'),
 (0.006899501602139406, 'Home_Team_Cleveland Cavaliers'),
 (0.006896826607471513, 'Home_Team_Sacramento Kings'),
 (0.00685722562277799, 'Away_Team_Atlanta Hawks'),
 (0.006785133378276409, 'Home_Team_Toronto Raptors'),
 (0.006689440359816508, 'Home_Team_Memphis Grizzlies'),
 (0.0064040867149804115, 'Away_Team_Brooklyn Nets'),
 (0.00616880403332207, 'Home_Team_Boston Celtics'),
 (0.005940825827457809, 'Away_Team_Miami Heat'),
 (0.005615157907501618, 'Home_Team_Utah Jazz'),
 (0.005605586279842291, 'Away_Team_New Orleans Pelicans'),
 (0.005535071683968888, 'Home_Team_Denver Nuggets'),
 (0.00552080720743854, 'Away_Team_Utah Jazz'),
 (0.00547452556366303, 'Away_Team_New York Knicks'),
 (0.005364604864533202, 'Away_Team_Boston Celtics'),
 (0.005278868159542348, 'Home_Team_Houston Rockets'),
 (0.005058378715031576, 'Away_Team_Dallas Mavericks'),
 (0.0050143423135875645, 'Home_Team_Brooklyn Nets'),
 (0.004999294473064595, 'Away_Team_Minnesota Timberwolves'),
 (0.004974185450728915, 'Away_Team_Memphis Grizzlies'),
 (0.004971885213389199, 'Away_Team_Los Angeles Lakers'),
 (0.0049287416798499155, 'Home_Team_Miami Heat'),
 (0.004782322001014431, 'Home_Team_Milwaukee Bucks'),
 (0.004781936406342497, 'Home_Team_Minnesota Timberwolves'),
 (0.004775261029368822, 'Away_Team_Portland Trail Blazers'),
 (0.004747225303317247, 'Home_Team_Dallas Mavericks'),
 (0.004714131730779116, 'Away_Team_LA Clippers'),
 (0.004571731149046103, 'Away_Team_Phoenix Suns'),
 (0.004456361812358905, 'Away_Team_Toronto Raptors'),
 (0.004451956161454579, 'Away_Team_San Antonio Spurs'),
 (0.0043792838542577595, 'Away_Team_Philadelphia 76ers'),
 (0.0039056499516329575, 'Home_Team_Phoenix Suns'),
 (0.003632505162077061, 'Home_Team_Indiana Pacers'),
 (0.003432425741641311, 'Home_Team_LA Clippers'),
 (0.0033866165906460068, 'Home_Team_Charlotte Hornets'),
 (0.00323826292228308, 'Home_Team_New Orleans Pelicans'),
 (0.003096121048972551, 'Away_Team_Cleveland Cavaliers'),
 (0.003052509873906462, 'Away_Team_Indiana Pacers'),
 (0.003009134472195175, 'Away_Team_Oklahoma City Thunder'),
 (0.002604585676983389, 'Home_Team_Golden State Warriors'),
 (0.0025213891637749777, 'Home_Team_New York Knicks'),
 (0.0024684508978336374, 'Home_Team_Portland Trail Blazers'),
 (0.002429997488838444, 'Away_Team_Houston Rockets')]