# Import dependencies and get data

In [2]:
# import dependencies
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# get data
df = pd.read_csv("fake_data.csv")
df.head()

,Home_Team,Away_Team,Home_Score,Away_Score,Rebounds,Assists,Blocks,Total_Score,Line,Over_Under,Bet,Met_Not_Met
0,Atlanta Hawks,Washington Wizards,110,110,43,23,6,220,232,1,1,1
1,Boston Celtics,Utah Jazz,105,115,51,25,3,220,216,0,0,1
2,Brooklyn Nets,Toronto Raptors,113,104,55,26,4,217,208,1,0,0
3,Charlotte Hornets,San Antonio Spurs,100,95,42,30,2,195,193,1,1,1
4,Chicago Bulls,Sacramento Kings,103,109,43,25,5,212,193,0,1,0

# Split data into training and testing

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1,stratify=y)

# Create the logistic regression model

In [ ]:
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

# Fit the model using the training data

In [ ]:
# Train the data
classifier.fit(X_train, y_train)

# Validate the model using the testing data

In [ ]:
# Score the model
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

# Make predictions

In [ ]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

# Calculate the accuracy score

In [ ]:
# Display the accuracy score for the test dataset.
accuracy_score(y_test, predictions)

# Make a prediction with a new data point

In [ ]:
# Generate a new data point (the red circle)
import numpy as np
new_data = np.array([[-2, 6]])
plt.scatter(X[:, 0], X[:, 1], c=y)
plt.scatter(new_data[0, 0], new_data[0, 1], c="r", marker="o", s=100)

In [ ]:
# Predict the class (purple or yellow) of the new data point
new_prediction = classifier.predict(new_data)
print("Classes are either 0 (purple) or 1 (yellow)")
print(f"The new point was classified as: {new_prediction}")